<div class="centraliser">
<form name="form" [formGroup]="createAvertForm" style="text-align:center;">
    <h1 mat-dialog-title style="width:100%;text-align: center;font-style:bold;font-size:27px;text-decoration: underline;margin-bottom: 30px;margin-top: 30px;">Avertissement</h1>     
    <div mat-dialog-content style="text-align:justify;margin-left:20px">
        <mat-form-field appearance="outline" style="width:80%;">
            <mat-label>Quand souhaitez-vous que vos modifications prennent effet?</mat-label>
            <input formControlName="dateAvert" matInput [matDatepicker]="picker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> <br>
        <mat-form-field appearance="outline"  style="width:50%;margin-top:20px;">
            <mat-label>Type d'Avertissement</mat-label>
            <mat-select formControlName="typeAvert" placeholder="Chosir un type" >
               <mat-option value="Le non-respect du règlement intérieur">Le non-respect du règlement intérieur</mat-option>
               <mat-option value="La négligence">La négligence</mat-option>
               <mat-option value="Les retards répétés">Les retards répétés</mat-option>
               <mat-option value="L'insubordination">L'insubordination</mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field appearance="outline"  style="width:30%">
            <mat-label>ID </mat-label>
            <input formControlName="id" matInput>
          </mat-form-field><br>
          <mat-label>Documentation</mat-label>
          <div style="margin-left:150px;width:400px;">
            <label class="form-label"></label>
            <input hidden #fileUpload class="form-control"  type="file" formControlName="file" (change)="envoiFichier($event)"/>
            <button mat-raised-button color="primary" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
              Primary
            </button>  
          </div><br>
          <mat-form-field appearance="outline" style="width:80%">
            <mat-label>Commentaire</mat-label>
            <textarea formControlName="commentaire" matInput></textarea>
          </mat-form-field>
    </div>
    <div mat-dialog-action [align]="'end'" style="margin-right:20px;margin-bottom:10px">
        <button type="button" mat-raised-button style="margin-right:10px;background-color:#0000ff;border:0px;color: white;" (click)="CreerAvert()">{{actionBtn}}</button>
         <button type="reset" mat-raised-button  mat-dialog-close style="margin-right:10px;color:black;background-color:#dcdcdc;border:Opx;border-color:gainsboro;">Annuler</button>
    </div>  
</form>    
</div>