table {
  width: 100%;
  
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
th{
  background-color:ghostwhite;
  font-size:15px;
}
td{
  max-width:25%;
  text-align: center;
  }
button{
  background-color:#ffffff;
  border: 0px;
}
.fixed-bottom{
  margin-left:94%;
  padding-bottom: 2%;
}